// 密码管理
.password-manage-module {
  
  #_ocx_password_str1 #_ocx_password,
  #_ocx_password_str2 #_ocx_password2,
  #_ocx_password_str3 #_ocx_password3 {
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
  }
  .password-enter {
    margin-top: 70px;
    text-align: center;
    .line {
      width: 1px;
      background: #dedede;
      height: 60px;
      float: left;
      margin: 30px 100px 0;
    }
  }
  // 密码重置
  .password-reset {
    .inner-title {
      width: 150px !important;
    }
    .submit-btn {
      width: $form-input-width;
      margin-left: 170px;
    }
  }
  // 登录密码重置
  .login-password-reset {
    .inner-title {
      width: 100px;
    }
    .submit-btn {
      width: $form-input-width;
    }
  }
  .entry-wrapper{
    display: inline-block;
    overflow: hidden;
  }
  .entry-icon{
    float: left;
    font-size: 14px;
    width: 200px;
    img{
      display: block;
      margin: 0 auto;
      width: 140px;
      height: 140px;
    }
    .split-line{
      display: inline-block;
      margin: 0 10px;
      width: 1px;
      height: 10px;
      background-color: #dedede;
    }
    p{
      margin-top: 10px;
      font-size: 13px;
      a{
        color:$color-primary;
      }
    }
  }
}
