// 风险评测等级
.risk-level-module {
    .pic-warning {
        text-align: center;
        margin-top: 40px;
    }
    .tip-text {
        text-align: center;
        font-size: 14px;
        margin: 35px 0;
    }
    .risk-btn {
        text-align: center;
        button {
            width: 140px;
            height: 40px;
            background-color: #ff4130;
            border: none;
            border-radius: 4px;
            font-size: 14px;
            color: #fff;
        }
    }
    // 风评题目
    .head-title {
        font-size: 16px;
        margin: 35px 0;
        text-align: center;
    }
    .warning-title {
        background-color: #fff4d4;
        padding: 10px 10px;
        height: 40px;
        line-height: 20px;
        font-size: $high5;
        color: #b61d27;
        margin-bottom: 20px;
        .warn-lf{float: left;}
        .warn-rt{float:right;width:996px;}
        i {
            margin-right: 5px;
            margin-top: -3px;
            vertical-align: middle;
            width: 22px;
            height: 22px;
            background-size: contain;
        }
    }
    .risk-topic .item-title{margin-top: 20px;}
    .risk-topic {
        font-size: 14px;
        .topic-item {
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid #d3d3d3;
        }
        .item-contain {
            ul {
                margin-left: 12px;
            }
            li {
                clear: fix;
                margin-top: 10px;
            }
            label {
                float: left;
                span {
                    float: left;
                }
                .error{
                    left:13%;
                }
            }
            input {
                float: left;
                margin-right: 10px;
                margin-top: 4px;
            }
        }
        .item-contain{position: relative}
        .risk-btn {
            padding-top: 30px;
        }
    }
}

.risk-module {
    .form-tip-info {
        font-size: 13px;
        border-top: none;
        .info-list {
            li {
                color: #666;
                line-height: 2;
            }
        }
    }
}