      <div class="row">
          <!--公司资质-->
          <div class="company-info-module company-info-nymodule module" >
             <div class="company-pic-list">
                  <div class="company-pic-itemdiv clearFloat" style="padding:0 30px;" id="aboutCompany">
                        <div class="company-pic-item"  style="margin-left: 0;">
                            <div style="margin-bottom: 9px">基金销售资格证书</div>
                            <a href="<%= constant.base_url%>/aboutUs/article?id=1" target="_blank"><img src="images/theme/red//pic_01.png" alt=""></a>
                        </div>
                        <div class="company-pic-item">
                            <div style="margin-bottom: 10px">监管机构</div>
                            <a href="http://www.csrc.gov.cn" target="_blank"><img src="images/theme/red/pic_02.png" alt=""></a>
                        </div>
                        <div class="company-pic-item">
                            <div style="margin-bottom: 16px">自律组织</div>
                            <a href="http://www.amac.org.cn" target="_blank"><img src="images/theme/red/pic_03.png" alt=""></a>
                        </div>
                        <div class="company-pic-item">
                            <div style="margin-bottom: 10px">监督银行</div>
                            <a href="http://www.spdb.com.cn" target="_blank"><img src="images/common/aboutUs/moduleB_01.png" height="30px" alt=""></a>
                        </div>
                  </div>
            </div>
          </div>
      </div>