<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<script type="text/javascript" src="../js/jquery-1.3.2.min.js"></script>
<script type="text/javascript">
function submitForm(){
	$("form").submit();
}
$(document).ready(function(){  
	setTimeout(submitForm(),1000);
});
</script>
</head>
<body >
<form  method='post' action='http://116.236.252.102:20130/inetpay/renderV10Homepage'  name='form1' ><input type='hidden' name='serverIp' value='http://116.236.252.101:38080/AppStsWeb/service/htLcSignIppPageRespAction.action'/><input type='hidden' name='reqMsg' value='PFJFUVVFU1Q+PEVOVkVMT1BFPjxIRUFEPjxWRVJTSU9OPnYxLjA8L1ZFUlNJT04+PEJVU0lORVNTX1RZUEU+MDM8L0JVU0lORVNTX1RZUEU+PFBBWV9UWVBFPjA4PC9QQVlfVFlQRT48VFJBTlNfQ09ERT4xMDAyPC9UUkFOU19DT0RFPjxBR0VOVF9JRD5GTjAwMDAyMDEyMDYwMDE8L0FHRU5UX0lEPjxUUkFDRV9OVU0+MjAxNzAzMDIxNjM2MDUyNTg3Nzg8L1RSQUNFX05VTT48VFJBTlNfREFURT4yMDE3MDMwMjwvVFJBTlNfREFURT48VFJBTlNfVElNRT4xNjQ1NDU8L1RSQU5TX1RJTUU+PE5PVElGWV9VUkw+aHR0cDovLzExNi4yMzYuMjUyLjEwMTozODA4MC9BcHBTdHNXZWIvc2VydmljZS9odExjU2lnbklwcFBhZ2VSZXNwQWN0aW9uLmFjdGlvbj90eFRyYWNlTm89MjAxNzAzMDIxNjM2MDUyNTg3NzcmYW1wO2JhbmtJZD0wMzA0MDAwMDwvTk9USUZZX1VSTD48QkdfTk9USUZZX1VSTD5odHRwOi8vMTkyLjE2OC4yLjEwMzo4MDgwL0FwcFN0c1dlYi9zZXJ2aWNlL2h0TGNTaWduSXBwSHR0cFJlc3BBY3Rpb24uYWN0aW9uP3R4VHJhY2VObz0yMDE3MDMwMjE2MzYwNTI1ODc3NyZhbXA7YmFua0lkPTAzMDQwMDAwPC9CR19OT1RJRllfVVJMPjwvSEVBRD48VFhfSU5GTz48TUVSQ0hBTlRfTk8+Rk4wMDAwMjAxMjA3MDAzPC9NRVJDSEFOVF9OTz48QkFOS19DT0RFPjAzMDQwMDAwPC9CQU5LX0NPREU+PEFDQ1RfTkFNRT7pq5jlsJo8L0FDQ1RfTkFNRT48QUNDVF9DQVQ+MDE8L0FDQ1RfQ0FUPjxBQ0NUX05PPjEyMzQ1NTEwMDAwMDAwMDA5MDA8L0FDQ1RfTk8+PFBIT05FX05PPjE1MzI3MjEyOTAwPC9QSE9ORV9OTz48SURfVFlQRT4wMTwvSURfVFlQRT48SURfTk8+NDIxMDgzMTk5MjA5MDkwOTAwPC9JRF9OTz48Uk9VVEU+SFhCX0JKX0JFX0ZVTkRfREVGPC9ST1VURT48L1RYX0lORk8+PC9FTlZFTE9QRT48U0lHTkFUVVJFPjxTSUdOX1RZUEU+MDwvU0lHTl9UWVBFPjxTSUdOX01TRz43OEQ4ODVDOTg0RjE0OTdBRTkzRjc4MzM5OTdGMkZCNDwvU0lHTl9NU0c+PC9TSUdOQVRVUkU+PC9SRVFVRVNUPg=='/><input type='hidden' name='interactType' value='page'/></form>
</body>
</SCRIPT>
</html>]