
	<div class="change-step">
		<%step.forEack(function(item){%>
			<div class="step step-active">
			    <span class="num">1</span><i class="icon-step-arrow"></i>原登录密码验证
			</div>
		<%})%>
	    
	    <div class="step">
	        <span class="num">2</span><i class="icon-step-arrow"></i>修改成功
	    </div>
	</div>