<div class="agreement-head">
    <div class="agreement-title">
        货币基金快速赎回协议
    </div>
</div>
<!--文章内容-->
<div class="agreement-body">
    <h2>甲方：投资者（以下简称“投资者”）</h2>
    <h2>乙方：华安基金管理有限公司（以下简称“华安基金”）</h2>
    <h2>丙方：通联支付网络服务股份有限公司（以下简称“通联”）</h2>
    <h2>根据国家有关法律、法规，本着公平、公开的原则，经三方友好协商，就华安基金、通联为投资者提供实时赎回业务，达成如下协议：</h2>
    <br/>

    <h2>第一条 定义</h2>
    <p>
        1.通联-“汇财通”实时赎回业务：是指通联与华安基金合作，投资者在业务开放时间，通过通联电子商务平台（包括网站、手机端、微信端及其他通联不时开通的新电子渠道）向通联申请将所持有的华安汇财通货币市场基金份额实时赎回，投资者可在通联确定的额度内使用通联提供的垫资服务，实现华安汇财通货币市场基金的T+0赎回。</p>
    <p>2.华安汇财通货币市场基金：指华安基金作为基金管理人推出一款货币基金产品，以下简称“汇财通”。</p>
    <p>
        3.投资者：本协议下的投资者需满足如下条件：（1）年龄满18周岁并且持有18位身份证号的居民身份证、满足证券投资基金合法投资者要求，且(2)已开立理财平台账户[需定义]，并将该账户作为基金支付结算账户与投资者在华安基金开立的华安基金交易账户绑定。</p>
    <p>4.理财平台账户：指投资者主动通过网站、手机app等终端在通华财富理财平台申请，经实名身份验证并与银行卡绑定的账户。</p>
    <br/>

    <h2>第二条 授权与承诺</h2>
    <p>1.投资者接受本协议项下的实时赎回业务服务，即授权华安基金为投资者提交“汇财通”货币基金交易委托。</p>
    <p>2.投资者承诺已认真阅读《华安汇财通货币市场基金合同》及《华安汇财通货币市场基金招募说明书》等基金法律文件。</p>
    <p>
        3.华安基金与通联承诺对投资者账户信息及交易相关数据负有保密义务，未经投资者许可，不得透露投资者在华安基金与通联登记的任何资料。但按照有关法律、法规和规章规定或有关司法机关、行政管理机关的要求提供投资者的有关资料和用于公司内部用途不在此限。</p>
    <br/>

    <h2>第三条 服务内容</h2>
    <p>1.在投资者从理财平台账户赎回不超过投资者持有的“汇财通”货币基金份额的情况下，获得通联提供的实时垫资服务，以完成取出（转出）交易。</p>
    <p>2.投资者在获得垫付资金的同时，不可分割地让渡对应数量的“汇财通”货币基金份额及该等份额自垫资（又称“垫款”）之日起的投资损益给通联。</p>
    <p>3.华安基金根据投资者每日未偿还“垫款”余额（相关数据由通联提供）于每日15:00为投资者提交“汇财通”货币基金份额过户委托，将对应数量的“汇财通”货币基金份额过户至通联名下并赎回，以偿还所欠“垫款”。</p>
    <p>4.如因为投资者原因，包括但不限于司法冻结、扣划等情形，导致实际过户交易失败，投资者应承担未及时偿还所欠“垫款”给通联带来的损失，通联享有向投资者追偿的权利。</p>
    <p>5.华安基金为投资者提供基金投资、交易、注册登记服务，受理并处理相关基金交易委托，登记甲方的基金资产，计算并分配投资损益等。</p>
    <p>6.“汇财通”货币基金单笔及每日的最高及最低交易限额以“汇财通”货币基金相关公告及相关业务规则为准。</p>
    <p>7.下述情况下，华安基金和通联有权临时暂停通联-“汇财通”实时赎回业务的部分或全部服务，并视情况及时恢复：</p>
    <p>（1）通讯故障；</p>
    <p>（2）系统故障或暂停服务；</p>
    <p>（3）已达到华安基金与通联设置的业务限额；</p>
    <p>（4）货币基金发生巨额赎回或每万份基金已实现收益为负值；</p>
    <p>（5）受不可抗力影响；</p>
    <p>（6）华安基金与通联认为需要临时暂停业务的其他情形。</p>
    <p>8.华安基金与通联暂不就本业务向投资者收取任何费用，但保留日后收取此项业务服务费的权利，并有权根据业务情况调整服务费标准。</p>
    <br/>

    <h2>第四条 各方权利及义务</h2>
    <p>（一）投资者权利及义务</p>
    <p>1.投资者承诺投资者是具有完全民事行为能力的个人，投资者同意按下“接受”或“同意”键后，表示投资者确认本人已阅读、理解并接受本协议。</p>
    <p>2.投资者申请使用本协议下的服务，须申请开通与华安基金的基金网上交易业务，并开立理财平台账户且以该账户为其基金交易资金划转的专用账户。</p>
    <p>3.授权华安基金向通联下达相关基金交易资金结算指令。</p>
    <p>4.投资者应保证用于基金交易的资金来源合法。</p>
    <p>（二）华安基金权利及义务</p>
    <p>1.华安基金声明：华安基金是中华人民共和国境内依据《证券投资基金法》规定所设立的，与投资者直接建立基金投资法律关系，并受投资者委托向通联下达相关基金交易资金结算指令的证券投资基金管理公司。</p>
    <p>2.华安基金遵守有关法律法规、规章制度，并按本协议的约定为投资者提供相关服务。</p>
    <p>3.华安基金提供安全、数据备份和故障恢复手段符合监管机关的规定。</p>
    <p>4.华安基金保证其提供的基金产品符合国家的相关规定和履行了必要的审批手续，承担为投资者提供的基金产品或服务的责任，并及时向投资者提供其基金的交易、持有等信息，负责投诉处理和售后服务。</p>
    <p>5.华安基金就本协议内容及合作过程中知悉的投资者信息、通联商业机密承担保密义务，未经投资者、通联同意不得向任何第三方泄漏或允许其使用，但国家法律法规另有规定或监管机构另有要求的除外。</p>
    <p>（二）华安基金权利及义务</p>
    <p>1.通联遵守有关法律法规、规章制度，按本协议的约定为投资者、华安基金提供基金交易资金支付结算服务，以及在通联确定的额度内向投资人提供货币基金T+0赎回垫款等实时赎回业务相关服务。</p>
    <p>2.在通联确定的垫资额度用满，无法提供垫资服务时，应公告或在业务操作时通知投资人。</p>
    <p>3.通联对投资者的信息和资料承担保密责任，但华安基金按照有关法律、法规和规章规定或有关司法机关、行政管理机关的要求提供投资者的有关资料不在此限。</p>
    <p>4.通联提供的基金交易资金支付结算系统的安全、数据备份和故障恢复手段等符合监管机关的规定。</p>
    <p>5.通联按照基金公司确认的基金交易资金划付指令，完成对投资者基金交易资金的划付，通联对相关电子数据进行保留并作为投资者交易行为的证明。</p>
    <br/>

    <h2>第五条 风险提示条款</h2>
    <p>投资者签署本协议前应仔细阅读以下风险提示条款。</p>
    <p>1.本协议已经华安基金和通联签署，投资者一旦签署本协议，即表示投资者同意办理本协议约定实时赎回业务；</p>
    <p>
        2.本协议项下的实时赎回业务所涉及货币基金份额将按照《开放式基金业务规则》及相关基金的法律文件进行运作并受理交易，极端情况下可能无法为投资者提供足够的流动性。在使用本业务之前，投资者应充分了解相关风险并能够自行承担由此带来的全部损失；</p>
    <p>
        3.投资者可在通联确定的额度内，且不超过投资者持有的“汇财通”货币基金份额的情况下，获得通联提供的实时垫资服务。因此，不保证投资者的所有垫资需求都能得到满足。由于无法获得垫资服务，造成投资者资金使用的延误或给投资者带来损失的，华安基金和通联不承担任何责任。</p>
    <p>
        4.投资者需妥善保管其各账户的密码及其他身份识别凭证，凡使用相应密码及其他身份识别凭证的交易行为将按账户相关开户协议均视为投资者亲自办理之交易，由此产生的结果由投资者自行承担。身份识别凭证包括但不限于投资者的银行账户、密码、数字证书、短信校验服务、支付盾、签约时设置的电话号码、手机号码等及其他要素。</p>
    <br/>

    <h2>第六条 免责条款</h2>
    <p>因下列情形导致投资者损失的，华安基金、通联不承担责任：</p>
    <p>1.不可抗力；</p>
    <p>2.因电信部门的通讯线路故障、通讯技术缺陷、电脑黑客或计算机病毒等问题造成基金交易及有关指令不能正常运转；</p>
    <p>3.法律和政策重大变化或任何其他华安基金、通联不可预测和不可控制因素导致的突发事件；</p>
    <p>4.因华安基金或通联设备或通讯故障或设备未能处于正常工作状态致使华安基金未能按时收到或者收到投资者的申请信息不完整；</p>
    <p>5.因投资者自身遗失、遗忘或泄露密码等原因导致损失；</p>
    <p>6.法律规定和本协议约定的其他免责事项。</p>

    <h2>第七条 协议的效力及变更</h2>
    <p>1.投资者点击“接受”或“同意”按钮确认签署本协议的，即表示已签署并同意接受本协议的全部内容。</p>
    <p>2.投资者签署本协议，即视为已阅读基金合同及招募说明书。</p>
    <p>3.华安基金和通联将根据实际情况和业务需要变更本协议内容，发生变更的，华安基金、通联会在各自网站公告；投资者在公告后继续使用通联-“汇财通”实时赎回业务的，则视为接受该变更。</p>
    <p>4.《华安汇财通货币市场基金基金合同》终止的，本协议自动终止。</p>

    <h2>第八条 纠纷的解决办法</h2>
    <p>
        本协议适用中华人民共和国法律。三方如有争议，应尽可能通过协商、调解解决，协商、调解不成，任何一方均有权向上海仲裁委员会申请仲裁，仲裁按照该委员会届时有效的仲裁规则进行。仲裁裁决是终局的，对各方均有法律约束力。</p>
    <p>（以下无正文）</p>
    <br/>
    <p>甲 方：投资者</p>
    <br/>
    <p>签订日期：</p>
    <br/>
    <p>乙 方：华安基金管理有限公司</p>
    <br/>
    <p>签订日期：</p>
    <br/>
    <p>丙 方：投资者</p>
    <br/>
    <p>签订日期：</p>
</div>

<div class="protocol-btn">
    <a rel="modal:close" style="cursor:pointer;">同意并继续</a>
</div>

<iframe style="z-index:-100;border:1px;position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
