<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>
        <%= static.title %>
    </title>
    <!--libs-->
</head>

<!-- 提示：换卡和绑卡同页面模板，所以没有新建！！！ -->

<body class="account">
    <form action="<%= wts_url%>" method="POST" id="form">
        <input type="hidden" name="msgPlain" value="<%= request_data%>">
        <div class="submit-btn">
            <button type="submit" id="submit"></button>
        </div>
    </form>
    <script type="text/javascript">
        window.onload = function() {
            document.getElementById("submit").click();
        }
    </script>
</body>

</html>
